<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="container">
    <h1>Your Reading List</h1>
    <div id="bookList" th:unless="${#lists.isEmpty(books)}">
        <div class="book" th:each="book : ${books}">
            <h2 class="bookTitle" th:text="${book.title}">Title</h2>
            <p class="bookAuthor" th:text="${book.author}">Author</p>
            <p class="bookISBN">ISBN: <span th:text="${book.isbn}">ISBN</span></p>
            <p class="bookDescription" th:text="${book.description}" th:if="${book.description}"></p>
            <p class="noDescription" th:if="${book.description eq null}">No description available</p>
        </div>
    </div>
    <div id="emptyList" th:if="${#lists.isEmpty(books)}">
        <p>You have no books in your reading list.</p>
    </div>
    <hr>
    <h2>Add a Book</h2>
    <form method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" size="50"><br>
        <label for="author">Author:</label>
        <input type="text" name="author" size="50"><br>
        <label for="isbn">ISBN:</label>
        <input type="text" name="isbn" size="15"><br>
        <label for="description">Description:</label><br>
        <textarea name="description" cols="80" rows="5"></textarea><br>
        <input type="submit">
    </form>
</div>
</body>
</html>
